.card-row {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: -webkit-fill-available;
}

.text-left {
	text-align: left;
}

.card-top {
	padding: 0.75rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.bold {
	font-weight: 700;
}

.small {
	font-size: 0.9rem;
}
.always-fit {
	min-width: max-content;
	margin-left: 10px;
}
