.card {
	width: -webkit-fill-available;
	border: 1px solid #153959;
	border-radius: 10px;
	margin: 1rem;
	padding: 0.5rem;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
}

.card:hover {
	border-color: #8fc4d9;
	cursor: pointer;
}

.tag {
	border-radius: 10px;
	width: max-content;
	min-width: 7rem;
	font-size: smaller;
	padding: 0.5rem;
}

.tag-good {
	background-color: #3285a6;
}

.tag-bad {
	background-color: #f25041;
}

.tag-none {
	background-color: grey;
}
